[Unit]
Description=Stirling-PDF service
After=syslog.target network.target

[Service]
SuccessExitStatus=143

User=root
Group=root

Type=simple

EnvironmentFile={{ stirlingpdf_path }}/.env
WorkingDirectory={{ stirlingpdf_path }}
ExecStart=/usr/bin/java -jar Stirling-PDF.jar
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
